<%- include('header'); -%>

    <div class="container-fluid main-heading">
        <h1>
            <%=listTitle%>
        </h1>
    </div>
    <div class="d-flex flex-column flex-md-row p-4 gap-4 py-md-5 align-items-center justify-content-center">
        <div class="list-group">
            <% tasks.forEach((task)=>{ %>
                <form action="/delete/<%= listTitle%>" method="POST">
                    <label class="list-group-item d-flex gap-3">
                        <input class="form-check-input flex-shrink-0" type="checkbox" name="deleteTaskId"
                            value="<%= task._id%>" style="font-size: 1.375em;" onchange="this.form.submit()">
                        <span class="pt-1 form-checked-content">
                            <%= task.name %>
                        </span>
                    </label>
                    <input type="hidden" name="listTitle" value="<%= listTitle%>">
                </form>
                <% }) %>
                    <form action="/<%=listTitle%>" method="POST">
                        <label class="list-group-item d-flex gap-3 bg-body-tertiary"
                            style="display: flex !important;justify-content: space-around;background-color: white !important;">
                            <input type="text" placeholder="Add New Task" class="add-task" name="newTask">
                            <button type="submit" class="submit-btn btn btn-outline-warning">+</button>
                        </label>
                    </form>
        </div>
    </div>

    <%- include('footer'); -%>